{% extends '@Blog/base.html.twig' %}

{% block body %}
    <p class="lead">Редактирование выбранного пользователя # {{ user.id }}</p>
    <form  method="get" action={{ path('dblist', {}) }}>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-right">Имя:</label>
            <input type="text" name="uName" class="form-control col-sm-10" value={{ user.name }}>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-right">e-Mail:</label>
            <input type="text" name="uEMail" class="form-control col-sm-10" value={{ user.email }}>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-right">Пароль:</label>
            <input type="text" name="uPass" class="form-control col-sm-10" value={{ user.pass }}>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-right">День ангела:</label>
            <input type="date" name="uBDay" class="form-control col-sm-10" value={{ user.bday }}>
        </div>
        <div class="form-group row">
            <div class="col-sm-8 text-right">
                <button type="submit" name="btnSubmit" value="btnSave" class="btn btn-primary">Сохранить</button>
            </div>
            <div class="col-sm-4 text-right">
                <button type="submit" name="btnSubmit" value="btnNotSave" class="btn btn-primary">Выйти без сохранения</button>
            </div>
            <input type="hidden" name="uNumber" value={{ user.guid }}>
            <input type="hidden" name="formName" value="UserEdit">
        </div>
    </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src={{ asset('js/jquery-3.2.1.slim.min.js') }}></script>
    <script src={{ asset('js/popper.min.js') }}></script>
    <script src={{ asset('js/bootstrap.min.js') }}></script>
{% endblock %}
