{% extends '@Blog/base.html.twig' %}

{% block body %}
    <h3 class="text-center">Тест системы контроля доступа на Symfony и DBAL</h3>
    <form method="post" class="" action={{ path('new') }}>
        <div class="row col-sm-12">
            <div class="col-sm-8">
                <h4>Список всех пользователей из Базы</h4>
            </div>
            <div class="col-sm-4 text-right">
                <button class="btn btn-info" href={{ path('new') }}>Добавить нового...</button>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Имя</th>
                    <th scope="col">e-Mail</th>
                    <th scope="col">Пароль</th>
                    <th scope="col" class="text-center">Команды</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.pass }}</td>
                    <td class="text-center">
                        <a href={{ path('dbview', {uN:user.id}) }}>
                            <i class="fa fa-search fa-2x" data-toggle="tooltip" data-placement="top" title="Просмотр"></i>&nbsp;&nbsp;
                        </a>
                        <a href={{ path('dbedit', {uN:user.id}) }}>
                            <i class="fa fa-edit fa-2x" data-toggle="tooltip" data-placement="top" title="Редактировать"></i>&nbsp;&nbsp;
                        </a>
                        <a href={{ path('delete', {uN:user.id}) }}>
                            <i class="fa fa-trash fa-2x" data-toggle="tooltip" data-placement="top" title="Удалить"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src={{ asset('js/jquery-3.2.1.slim.min.js') }}></script>
    <script src={{ asset('js/popper.min.js') }}></script>
    <script src={{ asset('js/bootstrap.min.js') }}></script>
{% endblock %}
