{% extends '@Blog/base.html.twig' %}

{% block body %}
    <p class="lead">Просмотр выбранного пользователя # {{ uN }}</p>
    <form  method="get" action={{ path('dblist', {}) }}>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-right">Имя:</label>
            <input type="text" readonly name="uName" class="form-control col-sm-10" placeholder={{ uName }}>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-right">e-Mail:</label>
            <input type="text" readonly name="uEMail" class="form-control col-sm-10" placeholder={{ uEMail }}>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-right">Пароль:</label>
            <input type="text" readonly name="uPass" class="form-control col-sm-10" placeholder={{ uPass }}>
        </div>
        <div class="form-group row">
            <div class="col-sm-8 text-right">
            </div>
            <div class="col-sm-4 text-right">
                <button type="submit" name="btnSubmit" value="btnReturn" class="btn btn-primary">Вернуться к списку</button>
            </div>
            <input type="hidden" name="uNumber" value={{ uN }}>
            <input type="hidden" name="formName" value="UserView">
        </div>
    </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src={{ asset('js/jquery-3.2.1.slim.min.js') }}></script>
    <script src={{ asset('js/popper.min.js') }}></script>
    <script src={{ asset('js/bootstrap.min.js') }}></script>
{% endblock %}
