{% extends '@Blog/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-right">Symfony T2: BlogBundle</h1>
        <p class="lead">Пользователь: {{ user }}</p>
        <p class="lead">Контора: {{ dep }}</p>
    </div>
{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }}>
    <link rel="stylesheet" href={{ asset('css/skin.css') }}>
{% endblock %}

{% block javascript %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src={{ asset('js/jquery-3.2.1.slim.min.js') }}></script>
    <script src={{ asset('js/popper.min.js') }}></script>
    <script src={{ asset('js/bootstrap.min.js') }}></script>
{% endblock %}
