{% extends '@Blog/base.html.twig' %}

{% block body %}
    <p class="lead">Список всех пользователей</p>
    <p>{{ query }}</p>
    <p>Действие: {{ action }}</p>
    <p>Сессия: {{ start }}</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Имя</th>
                <th scope="col">e-Mail</th>
                <th scope="col">Пароль</th>
                <th scope="col">Команды</th>
            </tr>
        </thead>
        <tbody>
            {% if uList == null %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% else %}
                {% for user in uList %}
                    <tr>
                        <td>{{ user.userID }}</td>
                        <td>{{ user.userName }}</td>
                        <td>{{ user.userEMail }}</td>
                        <td>{{ user.userPass }}</td>
                        <td><a href={{ path('edit', {uN:user.userID}) }}>Ред-ть </a>
                            <a href={{ path('delete', {uN:user.userID}) }}>Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }}>
    <link rel="stylesheet" href={{ asset('css/skin.css') }}>
{% endblock %}

{% block javascript %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src={{ asset('js/jquery-3.2.1.slim.min.js') }}></script>
    <script src={{ asset('js/popper.min.js') }}></script>
    <script src={{ asset('js/bootstrap.min.js') }}></script>
{% endblock %}
